<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
	  <script src="/javascripts/main.js"></script>
	<link rel='stylesheet' href='/stylesheets/style.css'>
</head>
  <body>	
    <header class="header-area">
      <nav class="navbar navbar-expand-md navbar-dark">
        <img id="header" src="/images/header.png" width="auto" height="250px">
      <div class="container">
        <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#main-nav">
          <span class="menu-icon-bar"></span>
          <span class="menu-icon-bar"></span>
          <span class="menu-icon-bar"></span>
        </button>
        <div id="main-nav" class="collapse navbar-collapse">
          <ul class="navbar-nav ml-auto">
            <li><a href="/contribution" class="nav-item nav-link ">همکاری</a></li>
            <li><a href="/register" class="nav-item nav-link ">ثبت نام</a></li></li>
            <li><a href="/businesses" class="nav-item nav-link ">کسب و کار ها</a></li></li>
            <li><a href="/" class="nav-item nav-link active">صفحه اصلی</a></li></li>
          </ul>
        </div>
      </div>
      <img src="/images/IMG_20231230_195542_733.png" width="200px" height="200px">
    </nav>
  </header>
  <div class="container" id="swiper">
    <div class="row">
      <div class="col">
        <span class="dot1"></span>
        <span class="dot1"></span>
        <span class="dot1"></span>
        <span class="dot"></span>
        <span class="dot1"></span>
        <span class="dot"></span>
        <span class="dot1"></span>
        <span class="dot"></span>
        <span class="dot1"></span>
        <span class="dot"></span>
        <span class="dot1"></span>
        <span class="dot"></span>
        <span class="dot1"></span>
        <span class="dot"></span>
        <span class="dot1"></span>
        <span class="dot"></span>
        <span class="dot1"></span>
        <span class="dot"></span>
        <span class="dot1"></span>
        <span class="dot"></span>
        <span class="dot1"></span>
        <span class="dot"></span>
        <span class="dot1"></span>
      </div>
    </div>
  </div> 
  <div class="container" id="about">
    <h2>درباره ما</h2>
    <p>تک ضمیر حاصل دغدغه مندی و ایده تیم تشکیل دهنده آن است و با هدف محیا کردن شرایطی برای اجرای کسب و کار ها زنجیره ای و وابستگی آن ها به یکدیگر فعالیت میکند.در تک ضمیر شما قادر خواهید بود تا کسب و کار خود را ثبت و مدیریت کنید. همچنین شما پس از ثبت  صفحه کسب و کار خود میتوانید از طریق سایر کسب و کار ها بازدید رایگان بدست آورید</p>
  </div>
  <div class="container" id="features">
    <h2>خدمات</h2>
    <div class="row">
      <div class="col md-3 col xs-6">
        <div class="row">
          <div class="col">
            <img src="/images/grow.png" width="100px" height="100px">
            <div class="col md-3">
              <h5>بازدید زنجیره ای</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col md-3 col xs-6">
        <div class="row">
          <div class="col">
            <img src="/images/panel.png" width="100px" height="100px">
            <div class="col md-3">
              <h5>کنترل پنل پیشرفته</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col md-3 col xs-6">
        <div class="row">
          <div class="col md-3">
            <img src="/images/monitor.png" width="100px" height="100px">
            <div class="col">
              <h5>سیستم مانیتورینگ</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col md-3 col xs-6">
        <div class="row">
          <div class="col md-3">
            <img src="/images/pallet.png" width="100px" height="100px">
            <div class="col">
              <h5>سفارشی سازی قالب</h5>
            </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
